;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Mar  5 14:25:39 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("yasnip" "python-mo" "snip" "yasnip" "define-key" "define_key" "desktop-save"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/whisky/.emacs.d/init_python.el"
  "init_python.el"
  'emacs-lisp-mode
  '(yas/minor-mode auto-complete-mode)
  201
  '(55 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/whisky/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(yas/minor-mode auto-complete-mode)
  1621
  '(20 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "pylookup"
  'dired-mode
  '(yas/minor-mode)
  254
  '(nil nil)
  t
  '("/home/whisky/.emacs.d/pylookup/")
  nil)

