;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Mar  2 20:36:20 2011
;; Desktop file format version 206
;; Emacs version 22.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("desktop-save"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "pylookup"
  'dired-mode
  nil
  254
  '(nil nil)
  t
  '("/home/whisky/.emacs.d/pylookup/")
  nil)

